<div class="searchBar" role="search">
	<form class="formFrontend" action="/soeg" method="GET">
		<input class="inputFrontend" type="text" name="searchword" id="searchword" placeholder="SØG">
		<button class="buttonFrontend" type="submit">SØG</button>
	</form>
</div>